language: coffeescript

notifications:
  email:
    on_success: never
    on_failure: hedefalk@gmail.com

script: 'curl -s https://raw.githubusercontent.com/hedefalk/atom-ci/master/build-package.sh | sh'

os:
  - linux
  - osx
  
env:
  global:
    - APM_TEST_PACKAGES=""

  matrix:
    - ATOM_CHANNEL=stable
    - ATOM_CHANNEL=beta
    
addons:
  apt:
    packages:
    - build-essential
    - git
    - libgnome-keyring-dev
    - fakeroot

branches:
  only:
    - master
