@import "octicon-mixins";
@import "octicon-utf-codes";


.highlight.varField .region {
  color: @syntax-color-variable;
}

.highlight.valField .region {
  color: @syntax-color-value;
}

implicit-info.select-list.popover-list {
  z-index: 5;
  width: auto;
  display: inline-block;
  padding: 0;
  overflow: hidden;

  ol.list-group {
    margin: 0;
  }
}
